openapi: 3.1.0
info:
  title: Amazon Transfer Family
  version: '1.0.0'
  description: Minimal OpenAPI representation of the AWS Transfer Family service API. Operations follow the AWS RPC-over-HTTP convention.
servers:
  - url: https://transfer.amazonaws.com
x-generated-from: https://docs.aws.amazon.com/transfer/latest/userguide/
x-generated-by: claude-crawl-2026-05-08
paths:
  /CreateAccess: {post: {summary: CreateAccess, operationId: CreateAccess, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateAgreement: {post: {summary: CreateAgreement, operationId: CreateAgreement, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateConnector: {post: {summary: CreateConnector, operationId: CreateConnector, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateProfile: {post: {summary: CreateProfile, operationId: CreateProfile, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateServer: {post: {summary: CreateServer, operationId: CreateServer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateUser: {post: {summary: CreateUser, operationId: CreateUser, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateWebApp: {post: {summary: CreateWebApp, operationId: CreateWebApp, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /CreateWorkflow: {post: {summary: CreateWorkflow, operationId: CreateWorkflow, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteAccess: {post: {summary: DeleteAccess, operationId: DeleteAccess, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteAgreement: {post: {summary: DeleteAgreement, operationId: DeleteAgreement, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteCertificate: {post: {summary: DeleteCertificate, operationId: DeleteCertificate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteConnector: {post: {summary: DeleteConnector, operationId: DeleteConnector, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteHostKey: {post: {summary: DeleteHostKey, operationId: DeleteHostKey, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteProfile: {post: {summary: DeleteProfile, operationId: DeleteProfile, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteServer: {post: {summary: DeleteServer, operationId: DeleteServer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteSshPublicKey: {post: {summary: DeleteSshPublicKey, operationId: DeleteSshPublicKey, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteUser: {post: {summary: DeleteUser, operationId: DeleteUser, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteWebApp: {post: {summary: DeleteWebApp, operationId: DeleteWebApp, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteWebAppCustomization: {post: {summary: DeleteWebAppCustomization, operationId: DeleteWebAppCustomization, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DeleteWorkflow: {post: {summary: DeleteWorkflow, operationId: DeleteWorkflow, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeAccess: {post: {summary: DescribeAccess, operationId: DescribeAccess, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeAgreement: {post: {summary: DescribeAgreement, operationId: DescribeAgreement, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeCertificate: {post: {summary: DescribeCertificate, operationId: DescribeCertificate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeConnector: {post: {summary: DescribeConnector, operationId: DescribeConnector, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeExecution: {post: {summary: DescribeExecution, operationId: DescribeExecution, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeHostKey: {post: {summary: DescribeHostKey, operationId: DescribeHostKey, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeProfile: {post: {summary: DescribeProfile, operationId: DescribeProfile, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeSecurityPolicy: {post: {summary: DescribeSecurityPolicy, operationId: DescribeSecurityPolicy, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeServer: {post: {summary: DescribeServer, operationId: DescribeServer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeUser: {post: {summary: DescribeUser, operationId: DescribeUser, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeWebApp: {post: {summary: DescribeWebApp, operationId: DescribeWebApp, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeWebAppCustomization: {post: {summary: DescribeWebAppCustomization, operationId: DescribeWebAppCustomization, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /DescribeWorkflow: {post: {summary: DescribeWorkflow, operationId: DescribeWorkflow, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ImportCertificate: {post: {summary: ImportCertificate, operationId: ImportCertificate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ImportHostKey: {post: {summary: ImportHostKey, operationId: ImportHostKey, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ImportSshPublicKey: {post: {summary: ImportSshPublicKey, operationId: ImportSshPublicKey, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListAccesses: {post: {summary: ListAccesses, operationId: ListAccesses, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListAgreements: {post: {summary: ListAgreements, operationId: ListAgreements, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListCertificates: {post: {summary: ListCertificates, operationId: ListCertificates, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListConnectors: {post: {summary: ListConnectors, operationId: ListConnectors, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListExecutions: {post: {summary: ListExecutions, operationId: ListExecutions, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListFileTransferResults: {post: {summary: ListFileTransferResults, operationId: ListFileTransferResults, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListHostKeys: {post: {summary: ListHostKeys, operationId: ListHostKeys, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListProfiles: {post: {summary: ListProfiles, operationId: ListProfiles, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListSecurityPolicies: {post: {summary: ListSecurityPolicies, operationId: ListSecurityPolicies, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListServers: {post: {summary: ListServers, operationId: ListServers, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListTagsForResource: {post: {summary: ListTagsForResource, operationId: ListTagsForResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListUsers: {post: {summary: ListUsers, operationId: ListUsers, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListWebApps: {post: {summary: ListWebApps, operationId: ListWebApps, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /ListWorkflows: {post: {summary: ListWorkflows, operationId: ListWorkflows, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /SendWorkflowStepState: {post: {summary: SendWorkflowStepState, operationId: SendWorkflowStepState, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StartDirectoryListing: {post: {summary: StartDirectoryListing, operationId: StartDirectoryListing, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StartFileTransfer: {post: {summary: StartFileTransfer, operationId: StartFileTransfer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StartRemoteDelete: {post: {summary: StartRemoteDelete, operationId: StartRemoteDelete, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StartRemoteMove: {post: {summary: StartRemoteMove, operationId: StartRemoteMove, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StartServer: {post: {summary: StartServer, operationId: StartServer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /StopServer: {post: {summary: StopServer, operationId: StopServer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /TagResource: {post: {summary: TagResource, operationId: TagResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /TestConnection: {post: {summary: TestConnection, operationId: TestConnection, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /TestIdentityProvider: {post: {summary: TestIdentityProvider, operationId: TestIdentityProvider, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UntagResource: {post: {summary: UntagResource, operationId: UntagResource, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateAccess: {post: {summary: UpdateAccess, operationId: UpdateAccess, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateAgreement: {post: {summary: UpdateAgreement, operationId: UpdateAgreement, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateCertificate: {post: {summary: UpdateCertificate, operationId: UpdateCertificate, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateConnector: {post: {summary: UpdateConnector, operationId: UpdateConnector, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateHostKey: {post: {summary: UpdateHostKey, operationId: UpdateHostKey, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateProfile: {post: {summary: UpdateProfile, operationId: UpdateProfile, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateServer: {post: {summary: UpdateServer, operationId: UpdateServer, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateUser: {post: {summary: UpdateUser, operationId: UpdateUser, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateWebApp: {post: {summary: UpdateWebApp, operationId: UpdateWebApp, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
  /UpdateWebAppCustomization: {post: {summary: UpdateWebAppCustomization, operationId: UpdateWebAppCustomization, requestBody: {content: {application/json: {schema: {type: object}}}}, responses: {'200': {description: OK, content: {application/json: {schema: {type: object}}}}}}}
